.about {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* margin-top: 3rem; */
  /* background: linear-gradient(#29323c, #485563); */
}

.aboutMe {
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  font-size: 3.5rem;
  height: 10vh;
  color: white;
}

@media only screen and (max-width: 360px) {
  .about {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 220vh;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .about {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300vh;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}
