.about {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* margin-top: 3rem; */
  /* background: linear-gradient(#29323c, #485563); */
}

.aboutMe {
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  font-size: 3.5rem;
  height: 10vh;
  color: white;
}

@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}
