main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 5rem;
  background: radial-gradient(circle at center 125px, #29323c, #485563);
}

.backgroundIcon {
  width: 32rem;
  height: 32rem;
  border-radius: 10px;
}

.backgroundIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2.5rem;
}

/* CONTAINERS */

.allButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* border: 1px solid black; */
}
.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid black; */
  color: whitesmoke;
}

/* BUTTONS */

.allButtons button {
  border: none;
  background: none;
}

.allButtons button:hover {
  cursor: pointer;
}
.allButtons button:first-child {
  width: 10rem;
  height: 4rem;
  background: white;
  border: 1px solid black;
  font-size: 1.4rem;
  border-radius: 10px;
  color: black;
  transition: 0.5s;
}

.allButtons button:first-child:hover {
  background: #485563;
  color: white;
}

.icons {
  width: 4rem;
  height: 4rem;
  color: whitesmoke;
  transition: 0.5s;
}

.icons:hover {
  color: #485563;
}

.mainInfo {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 360px) {
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
}
