main {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 5rem;
  background: radial-gradient(
    circle at center 125px,
    rgb(25, 23, 23),
    rgb(104, 96, 96)
  );
}

.backgroundIcon {
  width: 32rem;
  height: 32rem;
  border-radius: 10px;
}

.backgroundIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2.5rem;
}

/* CONTAINERS */

.allButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* border: 1px solid black; */
}
.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid black; */
  color: whitesmoke;
}

/* BUTTONS */

.allButtons button {
  border: none;
  background: none;
}

.allButtons button:hover {
  cursor: pointer;
}
.allButtons button:first-child {
  width: 10rem;
  height: 4rem;
  background: rgb(104, 96, 96);
  border: 1px solid black;
  font-size: 1.4rem;
  border-radius: 10px;
  color: whitesmoke;
  transition: 0.5s;
}

.allButtons button:first-child:hover {
  background: white;
  color: black;
}

.icons {
  width: 4rem;
  height: 4rem;
  color: whitesmoke;
  transition: 0.5s;
}

.icons:hover {
  color: rgb(107, 107, 201);
}
