.header {
  justify-content: flex-start;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 3.5rem;
  background-image: linear-gradient(
    to left,
    rgb(110, 112, 114),
    rgb(190, 204, 223)
  );
  position: fixed;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 1rem;
  align-items: center;
}
nav {
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.linkNav {
  text-decoration: none;
  /* margin-top: 0.5rem; */
  padding: 5px 30px 0px 30px;
  font-size: 30px;
  color: white;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  text-shadow: 0.5px 0.5px black;
}
.linkNav:nth-child(1) {
  margin-right: 1rem;
}
.linkNav:hover {
  color: rgb(40, 38, 38);
  transform: translateY(-3px);
}

.linkNav-sticky {
  background: linear-gradient(
    to right,
    rgb(249, 250, 253),
    rgb(244, 244, 253),
    rgb(205, 209, 209)
  );
}

.linkNav-sticky-font {
  margin-top: 0.5rem;
  padding: 5px 30px 0px 30px;
  font-size: 27px;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: none;
}
.navBtn {
  /* padding: 0.5rem; */
  opacity: transparent;
  /* color: white; */
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2rem;
  box-shadow: 0.5px black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 28rem;
  top: 0.5rem;
}
.navBtn:hover {
  color: rgb(40, 38, 38);
}

@media screen and (max-width: 820px) {
  .navBtn {
    visibility: visible;
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }

  .linkNav {
    font-size: 32px;
  }

  .header {
    display: flex;
    height: 5vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  nav {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  nav:first-child {
    margin-bottom: 20rem;
  }

  .responsive {
    display: flex;
  }
  .responsiveHeader {
    transform: translateY(0vh);
    transition-duration: 1s;
    height: 100vh;
  }

  .navBtnClose {
    position: absolute;
    top: -40rem;
    bottom: 2.5rem;
    left: 27rem;
  }
}
