.nav {
  justify-content: flex-start;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 3.5rem;
  background-image: linear-gradient(
    to left,
    rgb(110, 112, 114),
    rgb(190, 204, 223)
  );
  position: fixed;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 1rem;
}

nav {
  display: flex;
  /* margin: 0 auto;
  padding: 0 auto; */
  justify-content: flex-start;
  text-align: center;
}

.linkNav {
  text-decoration: none;
  margin-top: 0.5rem;
  padding: 5px 30px 0px 30px;
  font-size: 30px;
  color: white;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  text-shadow: 0.5px 0.5px black;
}
.linkNav:nth-child(1) {
  margin-right: 1rem;
}
.linkNav:hover {
  color: rgb(180, 166, 166);
  transform: translateY(-3px);
}

.linkNav-sticky {
  background: linear-gradient(
    to right,
    rgb(249, 250, 253),
    rgb(244, 244, 253),
    rgb(205, 209, 209)
  );
}

.linkNav-sticky-font {
  margin-top: 0.5rem;
  padding: 5px 30px 0px 30px;
  font-size: 27px;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: none;
}

.responsiveBtn {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .responsiveBtn {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}
