.allProjects {
  /* margin-top: 2rem; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0rem;
  /* background: linear-gradient(#29323c, #485563); */
}

.projects {
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  font-size: 3.5rem;
  height: 10vh;
  color: white;
  margin-bottom: -2rem;
}

.imgContainer {
  display: flex;
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  border: 0.5px solid black;
}

.imgContainer:hover {
  cursor: pointer;
}

.imgContainer a img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.imgContainer a {
  border-radius: inherit;
  width: 100%;
  height: inherit;
}

@media only screen and (max-width: 360px) {
  .allProjects {
    width: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    height: 150vh;
  }

  .projects {
    font-size: 3rem;
    margin-bottom: 0;
    height: 1rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .allProjects {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    height: 150vh;
  }
  .projects {
    font-size: 3rem;
    margin-bottom: 0;
    height: 1rem;
    margin-bottom: 3rem;
  }
}
