.skills {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* border: 1px solid black; */
}

.skills h2 {
  font-size: 2rem;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
  justify-content: center;
}
.main > * {
  width: 6.5rem;
  height: 6.5rem;
}

.other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
  justify-content: center;
}

.other > * {
  width: 4.5rem;
  height: 4.5rem;
}

@media only screen and (max-width: 360px) {
  .skills {
    width: 100%;
    height: 90vh;
  }

  .other > * {
    width: 4rem;
    height: 4rem;
  }

  .main > * {
    width: 6rem;
    height: 6rem;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .skills {
    width: 100%;
    height: 90vh;
  }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
  .skills {
    width: 100%;
    height: 90vh;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1200px) {
  .skills {
    width: 100%;
    height: 70vh;
  }

  .other > * {
    width: 6.5rem;
    height: 6.5rem;
  }

  .main > * {
    width: 8rem;
    height: 8rem;
  }

  .skills h2 {
    font-size: 3rem;
  }
}
