.skills {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* border: 1px solid black; */
}

.skills h2 {
  font-size: 2rem;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
  justify-content: center;
}
.main > * {
  width: 6.5rem;
  height: 6.5rem;
}

.other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
  justify-content: center;
}

.other > * {
  width: 4.5rem;
  height: 4.5rem;
}
