p button a {
  text-decoration: none;
  direction: none;
  font-size: 15px;
  color: white;
}

p {
  margin: 0.3rem 0rem;
  font-size: 20px;
  text-align: center;
}

p button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: rgb(104, 96, 96);
  border: 1px solid black;
  color: white;
}

@media only screen and (max-width: 360px) {
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
}
