.projectContainer {
  display: flex;
  width: 30%;
  height: 12rem;
  /* border: 1.5px solid rgb(11, 11, 11); */
  margin-left: 2.5%;
  transition: 1.2s;
  border-radius: 10px;
  flex-direction: row;
  background-color: #5a6e84;
  box-shadow: 20px 20px 50px 15px rgb(186, 182, 182);
}

.projectContainer:hover {
  transform: translateY(-10px);
}

@media only screen and (max-width: 360px) {
  .projectContainer {
    height: 25vh;
    width: 100%;
    margin-left: 1vw;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .projectContainer {
    height: 25vh;
    width: 100%;
    margin-left: 1vw;
  }
}
