.container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  text-align: center;
  color: white;
  text-shadow: 1px black;
  align-items: center;
  /* gap: -1rem; */
}

.container button a {
  direction: none;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 1rem;
}

.container button {
  font-size: 1.2rem;
  width: 7rem;
  height: 2.5rem;
  border-radius: 16px;
  transition: 0.5s;
}
.container button:hover {
  background-color: #485563;
  color: white;
  cursor: pointer;
}

.container button a:hover {
  color: white;
}

.container h2 {
  font-size: 1.8rem;
  margin-bottom: 0rem;
}

.container h3 {
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

.container p {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 360px) {
  .container {
    width: 35vh;
  }
  .container p {
    margin-bottom: 1rem;
  }
  .container h2 {
    margin-top: 0rem;
  }
}
